<!DOCTYPE html>
<html>
  <head>
    <title>Dogs gift</title>
  </head>
<body>
<% @uri = request.env['PATH_INFO'] %>

<div class="container">
  <script src='/app/assets/javascripts/application.js'></script>
  <h1>Gift of Dogs<i class="fas fa-dog"></i></h1>
  <p>Here are your cute dog pics!</p>
  <div>
    <a href= "/packages/new_dogs" >Like this template? Click to make your package!</a>
  </div>
  <div class="gallery" id="gallery">
    <% @resources.each do | resource | %>
      <% if resource.link.include? "youtube.com/embed" %>
        <li>
          <iframe width="560" height="315" src=<%= resource.link %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen alt=<%= resource.alt_tag %>></iframe>
        </li>
      <% else %>
        <li>
          <img src=<%= resource.link %> alt=<%= resource.alt_tag %> >
        </li>
        
      <% end %>
    <% end %>
    </ul>
    </div>
  </div>

<div class="footer bg-light">
  <div>
    Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</div>
</body>
</html>
