<!DOCTYPE html>
<html>
<head>
  <%# TODO: Sort out why title isn't showing %>
  <title>Dogs gift</title>
</head>
<body>
  <h1>Gift of Dogs</h1>
  <p>Here are your cute dog pics!</p>
  <img src="https://images.unsplash.com/photo-1535930891776-0c2dfb7fda1a?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="Dog with glasses">
  <img src="https://media.giphy.com/media/4Zo41lhzKt6iZ8xff9/giphy.gif" alt="Husky gif ears">
  <%# Embed youtube videos from share - embed - copy text %>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/3ggIHfwkIWM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br>
  <a href="/home/index">Back to package selection</a>
</body>
</html>