<!DOCTYPE html>
<html>
  <head>
    <title>Dogs gift</title>
  </head>
<body>
<% @uri = request.env['PATH_INFO'] %>

<div class="container">
  <script src='/app/assets/javascripts/application.js'></script>
  <h1>Gift of Dogs<i class="fas fa-dog"></i></h1>
  <p>Here are your cute dog pics!</p>
  <div>
    <a href= "/packages/new_dogs" >Like this template? Click to make your package!</a>
  </div>
  <div class="square">
    <ul class="images">
    <% @resources.each do | resource | %>
      <% if resource.link.include? "youtu" %>
        <% resource.link = "https://www.youtube.com/embed/#{resource.link[-11..-1]}"%>
          <li>
            <iframe src=<%= resource.link %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen alt=<%= resource.alt_tag %>></iframe>
          </li>
      <% else %>
          <li>
            <img src=<%= resource.link %> alt=<%= resource.alt_tag %> >
          </li>
      <% end %>
    <% end %>
    </ul>
    </div>
</body>
</html>



