
<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Home Page</title>
</head>
<body>
  <% @uri = request.env['PATH_INFO'] %>

  <div class="success_flash">
  <%= flash[:success]%>
  </div>
  <div class="error_flash">
  <%= flash[:error]%>
  </div>

  <div id="wrapper">

        <!-- Banner -->
          <div>
            <div class='home'>
          
          <section id="banner">
            <div class="inner">
              <div class="content"> 
                <h1>Welcome to Postbox!</h1>
                <p> Choose from the following options:</p> 
                
              </div>
            </div>
          </div>
        </section>

        <div id="main">

            <!-- section -->
            
              <section id="one" class="tiles">
              
              <div id="portfolio" class="images image01 tiles-wide">
              <header class="major">
              <h3><a href="/premade/dogs">Dogs</a></h3>
                <p>Here are your cute dog pics!</p>
              </header>
              </div>
              <div class="images image02">
              <header class="major">
                <h3><a href="/packages/new_custom">Custom</a></h3>
                <p>feugiat amet tempus</p>
              </header>
              </div>
              <div class="images image03">
              <header class="major">
              <h3>Dogs</h3>
                <p>Lorem etiam nullam</p>
              </header>
              </div>
              <div class="images image04 tiles-wide">
              <header class="major">
              <h3>Dogs</h3>
                <p>Nisl sed aliquam</p>
              </header>
              </div>
              <div class="images image05 tiles-wide">
              <header class="major">
              <h3>Dogs</h3>
                <p>Ipsum dolor sit amet</p>
              </header>
              </div>
              <div class="images image06">
              <header class="major">
              <h3>Dogs</h3>
                <p>Feugiat amet tempus</p>
              </header>
              </div>

          </section>

</body>
</html>



