<!DOCTYPE html>
<html>
<head>
  <%# TODO: Sort out why title isn't showing %>
  <title>Home Page</title>
</head>
<body>
  <div class="success_flash">
  <%= flash[:success]%>
  </div>
  <p>
  <h1>Welcome to Postbox!</h1>
  Choose from the following options:
  </p>

  <a href="/premade/dogs">Dogs</a>
</body>
</html>


