<!DOCTYPE html>
<html>
<head>
<%# TODO: Sort out why title isn't showing %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Home Page</title>
</head>
<body>
  <div class="success_flash">
  <%= flash[:success]%>
  </div>
  <div class="error_flash">
  <%= flash[:error]%>
  </div>
  <p>
  <h1>Welcome to Postbox!</h1>
  Choose from the following options:
  </p>

  <a href="/premade/dogs">Dogs</a>
</body>
</html>


