
<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Home Page</title>
</head>
<body>
  <% @uri = request.env['PATH_INFO'] %>
  <div class="homeflash">
    <div class="success_flash">
      <%= flash[:success]%>
    </div>
    <div class="error_flash">
      <%= flash[:error]%>
    </div>
  </div>
  <div id="wrapper">

        <!-- Banner -->
          <div>
            <div class='home'>
          
          <section id="banner">
            <div class="inner">
              <div class="content"> 
                <h1>Welcome to Postbox!</h1>
                <p> Choose from the following options:</p> 
              </div>
            </div>
          </div>
        </section>

        <div id="main">

            <!-- section -->
            
              <section id="one" class="tiles">
              
              <div id="portfolio" class="images image01 tiles-wide">
              <header class="major">
              <h3><a href="/premade/dogs">Dogs</a></h3>
                <p>Choose some paw-some dog pics</p>
              </header>
              </div>
              <div class="images image02">
              <header class="major">
                <h3><a href="/premade/cats">Cats</a></h3>
                <p>Try some puuuurfect cat pics</p>
              </header>
              </div>
              <div class="images image03">
              <header class="major">
              <h3><a href="/premade/scenery">Scenery</a></h3>
                <p>Love the view? You'll love these</p>
              </header>
              </div>
              <div class="images image04 tiles-wide">
              <header class="major">
              <h3><a href="/premade/messages">Messages</a></h3>
                <p>Because we all need a good motivational quote</p>
              </header>
              </div>
              <div class="images image05 tiles-wide">
              <header class="major">
              <h3><a href="/premade/love">Love</a></h3>
                <p>Need something special for that special someone?</p>
              </header>
              </div>
              <div class="images image06">
              <header class="major">
              <h3><a href="/packages/new_custom">Custom</a></h3>
                <p>Share your unique creation that's as perfect as you</p>
              </header>
              </div>

          </section>

</body>
</html>



