// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    display: inherit;
    box-sizing: border-box;    
}



body {
    line-height: 1;

}


.banner{
    width: 100%;
    height: 250px;
    background-color: #3B8686;
    padding-top: 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.banner-title h1{
   font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
font-weight: 600;
font-size: 50px;
line-height: 1.04;
letter-spacing: -.028em;
color: white;
text-decoration:none;

}

.banner-content p{
   font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
font-size: 14px;
line-height: 1.04;
letter-spacing: -.028em;
color: white;
text-transform: uppercase;
}

.logo{
    display:block;
margin-left:auto;
margin-right:auto;


    
}

.major .link{
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.04;
    letter-spacing: -.028em;
    color: rgba(0,0,0,.8);
    text-decoration:none;
 	padding-right: 20px;
    
	}
	@media screen and (max-width: 480px) {
    .major .link {
    	font-size: 35px;
    	padding-right: 30px;
		}
    }
	.major{
		 margin: 162px 0px 0px 20px;
	}
	.major p {
		font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
		text-transform: uppercase;
		font-size:15px;
		padding: 5px 10px 20px ;
	}
	@media screen and (max-width: 480px) {
    .major p {
    	font-size: 12px;
		}
    }

    .inner{
    	color:white;
    	text-align: center;

    }
    .home {
		width: 100%;
		height:700px;
		float:left;
		background-image:url("https://images.unsplash.com/photo-1577217534079-41d6bb68ac50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
	}

	@media screen and (max-width: 750px) {
    .home{
    	height:630px;
		}
    }
	@media screen and (max-width: 480px) {
    .home{
    	height:470px;
		}
    }

    .content{
        margin-top: 150px;
    }
