// Place all the styles related to the premade controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//  Testy test
*{
  box-sizing: border-box;
}

.square {
  width: 900px;     
  height: 100%;
  margin: auto;
  position:relative;
  
}
ul.images{
  margin: 0px;
  padding:0px;
}
ul.images li {
  list-style-type: none;
  width: 33%;
  height: 250px;
  display: inline; 
  margin: 1px;
  float: left;
  overflow: hidden;
  background-color: #363636;
}
img{
  max-width: 100%;
  display:inline-block;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


  